
.tfB0Bf {
    height:70px
}
    
.tfB0Bf input[type="submit"], .gbqfba {
    background-color:#f8f9fa;
    border:1px solid #f8f9fa;
    border-radius:4px;
    color:#3c4043;
    font-family:arial,sans-serif;
    font-size:14px;
    margin:11px 4px;
    padding:0 16px;
    line-height:27px;
    height:36px;
    min-width:54px;
    text-align:center;
    cursor:pointer;
    user-select:none
}
    
.tfB0Bf input[type="submit"]:hover {
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    background-color:#f8f9fa;
    border:1px solid #dadce0;
    color:#202124
}
    
.tfB0Bf input[type="submit"]:focus {
    border:1px solid #4d90fe;outline:none
}
    

https://www.google.com/search?q=fire+bricks&btnI=I%27m+Feeling+Lucky&sxsrf=ALeKk01LsZ5Tr4O5Y-T8rtolPfR3uy2v9w%3A1619236733355&source=hp&ei=fZeDYMynE77H4-EPl6upwA0&iflsig=AINFCbYAAAAAYIOljbrq3T53jVHe3yi2nb0eI_aAOE0q&ved=0ahUKEwiM2q_y_pXwAhW-4zgGHZdVCtgQ19QECAg

https://www.google.com/search?q=fire+bricks&btnI=I%27m+Feeling+Lucky